body {
    font-family: monospace;
    background-color: White;
}


header {
    background-color: red;
    font-size: 20px;
    color: White;
    text-decoration: none;

    
}

.news{
    margin: 30px 30px 30px 30px
}


.ohgosh{
    margin: 30px 30px 30px 30px
}



.about{
    margin: 30px 30px 30px 30px
}


p{
    text-align: center;
    font-size: 30px;
    color: gray;
}




a{
    text-decoration: none;
    color: White;
    margin: 30px 30px 30px 30px;
    
}

.products{
     display: flex;
     flex-wrap: wrap;
}

.product{
    margin: 10px
}
.product-img{
    width: 380px;
    height: 500px;
    margin: 10px;

    
}


    
}

.menu:hover{
    background-color: white;
    color: red;
}

.menu{
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-around
   
}


}

.add{
    border-radius: 50px;
    color: black;
    padding: 5px
}

.add:hover{
    background-color: black;
    color: white;
    padding: 5px
}


.products2{
    display: flex;
     flex-wrap: wrap;
}

.product2{
    margin: 10px
}


footer{
    background-color: black;
    
   
}


p{
    color: Black;
}


.helpnumber{
    color: White;
}

.images10{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
