body {
    font-family: sans-serif;
    background-color: White;
}

header {
    background-color: red;
    font-size: 20px;
    color: White;
    text-decoration: none;
}

.news, .ohgosh, .about {
    margin: 30px;
}

p {
    text-align: center;
    font-size: 30px;
    color: gray;
}

a {
    text-decoration: none;
    color: White;
    margin: 30px;
}

.products, .products2 {
    display: flex;
    flex-wrap: wrap;
}

.product, .product2 {
    margin: 10px;
}

.product-img {
    width: 300px;
    height: 500px;
    margin: 10px;
}

.menu {
    border-radius: 10px;
}

.menu:hover {
    background-color: white;
    color: red;
}

nav {
    display: flex;
    justify-content: space-around;
}

.buynow, .add {
    border-radius: 50px;
    color: black;
    padding: 5px;
}

.buynow {
    background-color: black;
    color: white;
}

.buynow:hover {
    background-color: white;
    color: black;
}

.add:hover {
    background-color: black;
    color: white;
}

.addtocart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: black;
}

.helpnumber {
    color: White;
}

.images10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
